#mainHeader {
	background-color: #262626;
	font-family: 'Press Start 2P', 'Oxygen', sans-serif;
}

#headerText {
	text-align: center;
}

#menuContainer {
	text-align: center;
	margin: 20px auto;
	font-family: 'Press Start 2P', 'Oxygen', sans-serif;
}

#searchContainer {
	background-color: #AAA;
	text-align: center;
	height: 36px;
	padding: 5px;
	font-family: 'Press Start 2P', 'Oxygen', sans-serif;
}

#mainSection {
	margin: 10px 0;
	padding: 10px;
	background-color: #222;
	max-height: 450px;
	overflow-y: scroll;
	color: #AAA;
}

#mainSection label {
	color: #666;
}

#mainSection article {
	position: relative;
	width: 40%;
	float: left;
	font-family: 'Gugi', 'Oxygen', sans-serif;
	font-size: 1.7em;
	/*display: inline-block;*/
}

#mainSection aside {
	margin-left: 30px;
	width: calc(60% - 30px);
	float: right;
	overflow-wrap: break-word;
	font-family: 'Gugi', 'Oxygen', sans-serif;
	font-size: 1.4em;
	padding: 10px;
	/*display: inline-block;*/
}


#mainFooter {
	min-height: 40px;
	background-color: #ff6;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	padding: 8px;
  	font-family: 'Press Start 2P', 'Oxygen', sans-serif;
}

#mainFooter a:hover {
	color: black;
}

#recordCount {
	margin-bottom: 10px;
}

#errorPanel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.77);
	display: flex;
    align-items: center;
    justify-content: center;
}

#errorBanner {
	width: 100%;
	height: 75px;
	background-color: rgba(220,20,60, 0.77);
	margin: auto 0;
	display: flex;
    align-items: center;
    justify-content: center;
}

#errorBanner h1 {
	color: white;
	font-family: 'Press Start 2P', 'Oxygen', sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none !important;
}

h1,h2,h3,h4,h5,h6 {
	margin: auto !important;
	color: #ff6;
}

body {
	background-color: #262626;
	padding: 30px;
}



.menuItem {
	display: inline-block;
	padding: 0 20px;
	color: gray;
	cursor: pointer;
}
.menuItem:hover {
	color: #ff6;
}

.dataObject:hover:not(.selectedRow) {
	background-color: rgba(255, 255, 102, 0.47);
	color: white;
	cursor: pointer;
}

.centered {
	text-align: center;
	margin: auto;
}

.unobtrusive {
	color: dimgray;
	font-size: 0.7em;
}

.tooltipAnchorText {
	color: #ff6;
}
.tooltipAnchorText:hover {
	cursor: pointer;
}

.selectedRow {
	background-color: #ff6;
	color: black;
}

.fontAcme {
	font-family: 'Acme', sans-serif;
}

.fontOxygen {
	font-family: 'Oxygen', sans-serif;
}

.fontPressStart {
	font-family: 'Press Start 2P', cursive;
}

.fontGugi {
	font-family: 'Gugi', cursive;
}