* {
	box-sizing: border-box;
}

body {
	background-color: #262626;
	padding: 30px;
}

main {

}

header {
	background-color: #ff6;
	height: 60px;
	text-align: center;
}

nav {
	background-color: pink;
	text-align: center;
	padding: 5px;
}

nav button {
	width: 15em;
	height: 2em;
}

nav label {
	margin-left: 30px;
}

footer {
	background-color: #ff6;
	height: 60px;
	text-align: center;
	padding-top: 35px;
}

#mainSection {
	background-color: palegreen;
	height: 300px;
	margin: 20px 0;
	padding: 10px;
	overflow-wrap: break-word;
}

#dataArea {
	background-color: palegreen;
	height: 300px;
	margin: 20px 0;
	padding: 10px;
}

#dataArea article {
	position: relative;
	background-color: cyan;
	width: 30%;
	height: 100%;
	float: left;
	/*display: inline-block;*/
}

#dataArea aside {
	background-color: cyan;
	margin-left: 20px;
	width: calc(70% - 20px);
	height: 100%;
	float: right;
	/*display: inline-block;*/
}

.menuItem {
	display: inline-block;
	padding: 0 20px;
	color: gray;
	cursor: pointer;
}

.clearFloat {
	clear: both;
}