#container {
	width: 730px;
	padding: 10px;
	margin: 0 auto;
	background-color: #082133
}

a {
	color: #fff;
	font-family: verdana;
	text-decoration: none;
}

a:hover {
	color: #306081
}

a:active {
	color: #306081
}

header {
	padding: 5px;
}

h1 {
	display: inline-block;
	margin: 0 18px 0 25px;
	color: #fff;
	font-family: verdana;
	font-weight: lighter;
	font-size: 1.4em;
}

#blue-h1 {
	color: #2696de;
}

nav {
	display: inline-block;
}

nav li {
	display: inline;
	margin: 0 18px 0 18px;
	color: #fff;
	font-family: verdana;
	font-size: .7em;
}

main {
	width: 700px;
	padding: 15px;
	background-color: #fff;
}

#banner {
	width: 700px;
}

.box {
	display: inline-block;
	vertical-align: top;
	width: 201px;
	padding: 10px;
	background-color: #1b69a6;
	color: #fff;
	margin: 10px 14px 14px 0;
}

#last-box {
	margin-right: 0px;
}

.box img {
	display: inline-block;
	width: 25px;
	background-color: #fff;
	border-radius: 25px;
}

h2 {
	display: inline-block;
	vertical-align: top;
	font-size: 1.1em;
	font-weight: 400;
	margin: 0;
    padding: 3px 0 9px 3px;}

.box p {
	font-size: .6em;
	padding: 5px;
	margin: 3px 0 22px 0;
}

.blue-button {
	font-size: .7em;
    background-color: #2491d8;
    padding: 7px 28px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 51%);
}

.blue-button:hover {
        background-color: #515758;
}

#the-world {
	display: inline-block;
	vertical-align: text-top;
	width: 460px;
}

h3 {
	font-weight: lighter;
	font-size: 1em;
}

#the-world img {
	display: inline-block;
	float: left;
	vertical-align: top;
	width: 220px;
}

#the-world p {
	display: inline-block;
	vertical-align: top;
	color: #88929b;
	width: 220px;
	margin: 0 0 2px 10px;
	font-size: .6em;
	padding: 0 5px 5px 5px;
}

h4 {
	display: inline-block;
    font-size: .8em;
    font-weight: lighter;
    margin: 5px 0 0 15px;
}

h4 a {
	color: #306081;
}

h4 a:hover {
	color: #aaa;
}


#testimonial {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	margin-left: 15px;
}

.bubble {
  position:relative;
  width: 190px;
  padding:15px 10px 30px 15px;
  font-size: .7em;
  font-style: italic;
  color:#306081;
  background:#dbedfe;
}

.bubble:after {
  content:"";
  position:absolute;
  bottom:-7px; /* value = - border-top-width - border-bottom-width */
  left:20px; /* controls horizontal position */
  border-width:7px 7px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#dbedfe transparent;
  display:block;
  width:0;
}

#name {
	margin-top: 15px;
	font-size: .5em;
	color: #aaa;
}

footer {
	background-color: #dbedfe;
	border-top: 1px solid #aaa;
	padding: 5px 0 15px 0;
}

footer ul {
	text-align: center;
	margin: 0;
}

footer li {
	display: inline;
	margin: 0 20px;
	text-align: center;

}

footer a {
	color: #306081;
	font-family: verdana;
	font-size: .6em;
}

footer a:hover {
	color: #fff;
}
