h1 {
	color: blue;
	border: 3px solid green;
	text-align: center;
	padding: 20px;
	margin: 10px;
}


/* Element or Type */
div {
	position: relative;
	/*width: 100px;*/
}

/* Class */
.myClass {
	border: 1px solid gray;
	height: 200px;
}

.myDiv {
	background-color: gray;
}

/* ID */
#mainContainer {
	width: 100%;
	padding: 10px;
}

/* Universal */
* {
	padding: 0px;
	margin: 0px;
}

/* Attribute */
a[href="https://example.org"] {
	background-color: #DDEEFF;
}

/* Pseudo-Element */
div:first-child {
	font-weight: bold;
}


/* Pseudo-Class or State */
a:hover {
	color: red;
}
